html,
body,
#app {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}
.post--title {
	color: rgb(199, 31, 31);
	padding-bottom: 3px;
	font-weight: bold;
}
.post--container {
	margin: 10px 0;
}
.post--details {
	color: rgb(140, 140, 140);
}

.post--container a:link,
.post--container a:visited,
.post--container a:hover,
.post--container a:active {
	text-decoration: none;
	color: rgb(199, 31, 31);
}

.row {
	display: flex;
	flex-direction: row;
}
.space-between {
	justify-content: space-between;
}
.nav-link {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.nav li {
	margin-right: 10px;
}
.btn-clear {
	border: none;
	background: transparent;
}
/* 
		a:link - a normal, unvisited link
		a:visited - a link the user has visited
		a:hover - a link when the user mouses over it
		a:active - a link the moment it is clicked 
*/
